In [ ]:
# Exercise 3 Little Lemon analysis and sales report 
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig = {
    "database": "little_lemon_db",
    "user": "root",
    "password": ""
}
# try except to create connection pool
try:
    pool=MySQLConnectionPool(pool_name="pool_b",
                         pool_size=2,
                         **dbconfig )
    print("The connection pool is created with a name: ", pool.pool_name)
    print("The pool size is: ",poob.pool_size)
except Error as err:
    print("Error code: ",err.errno)
    print("Error message: ",err.msg)

In [ ]:
# 3 guests are trying to book dinner. get connection from pool_b and insert data into Bookings table:
# List of the data needs to connect to the database and insert into Bookings simultaneously. Need to add connection for the 3rd guest.

# To add connection to the pool, the connection must be of MySQLConnection instance 
# Also possible to create via connect module and need the import below
# Connect the first guest.
connection1 = pool.get_connection()
cursor1=connection1.cursor()
booking1="""INSERT INTO Bookings 
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
(8,'Anees','Java','18:00:00',6);"""
cursor1.execute(booking1)
connection1.commit()
print("""A new booking is added in the "Bookings" table.""")

# Connect the second guest .
connection2 = pool.get_connection()
cursor2=connection2.cursor()
booking2="""INSERT INTO Bookings 
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
(5, 'Bald','Vin','19:00:00',6);"""
cursor2.execute(booking2)
connection2.commit()
print("""A new booking is added in the "Bookings" table.""")
#Adding new connection
import mysql.connector as connector

try:
    guest3_connection = pool.get_connection()
    print("The guest is connected.\n")
except:
    print("Adding new connection to the pool.")
    # Create a new connection
    connection = connector.connect(user="root", password="")
    #Add the connection to the pool_b
    pool.add_connection(cnx=connection)
    print("A new connection is added in toe pool.\n")    
    connection3 = pool.get_connection()
    print("connection3 is added to the pool.\n")
        
            
#create a cursor object
cursor3=connection3.cursor()
# The insert query is:      
insert_sql_query="""INSERT INTO bOOKINGS(TableNo, GuestFirstName, 
    GuestLastName, BookingSlot, EmployeeID)
    VALUES (12,"Jay","Kon","19:30",6)"""
# Execute query
cursor3.execute(insert_sql_query1)
print("1 new booking was made.")
    # Commit the insertion
connection3.commit()
from mysql.connecter import Error
for connection in [connection1,connection2,connection3]:
    try:
        connection.close()
        print("Connection is returned to the pool")
    except Error as er:
        print("\nConnection can't be returned to the pool.\n")
        print("Error message: ", er.msg)

In [ ]:
#create a report containing informtion 
# Get a connection from pool_a and create a cursor object to communicate with the database. 
print("Getting a connection from the pool.")
connection = pool.get_connection()
print("""The object "connection" is created with a connection link from the pool_a""")
print("""Creating a cursor object to communicate with the database.""")
cursor=connection.cursor()
print("""The cursor object "cursor" is created.""")

# the name and employeeID of the manager
manager_query="""SELECT EmployeeId, Name FROM Employees WHERE role="Manager";"""
cursor.execute(manager_query)
print("Little Lemon Manager List")
print(cursor.column_names)
results = cursor.fetchall()
for result in results:
    print(result)
# The name and role of the employee who receives the highest salary.
highest_salary_query = """SELECT Name, Role, Annual_Salary FROM Employees ORDER BY Annual_Salary LIMIT 1;"""
cursor.execute(highest_salary_query)
print("Little Lemon Highest Salary List")
print(cursor.column_names)
results = cursor.fetchall()
for result in results:
    print(result)
#The number of guests booked between 18:00 and 20:00.
num_guest_query="""SELECT COUNT(BookingID) n_bookings FROM Bookings WHERE BookingSlot BETWEEN "18:00" AND "20:00";"""
cursor.execute(num_guest_query)
print("The number of guest booked between 18:00 and 20:00: ")
results = cursor.fetchone()
print(result)
#The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.
waiting_guest_query="""SELECT 
CONCAT(Bookings.GuestFirstname," ", Bookings.GuestLastName) as GuestFullName, 
Bookings.BookingID 
FROM Bookings 
INNER JOIN Employees ON Bookings.EmployeeID = Employees.EmployeeID 
WHERE Employees.Role = "Receptionist" 
ORDER BY Bookings.BookingSlot DESC;"""
cursor.execute(waiting_guest_query)
print("The following guests are waiting to be seated: ")
results = cursor.fetchall()
print(cursor.column_names)
for result in results:
    print(result)

In [ ]:
# Create a stored procedure named BasicSalesReport. 
cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport;")

sale_report_proc_query="""
CREATE PROCEDURE BasicSalesReport()

BEGIN
SELECT 
SUM(BillAmount) AS Total_Sale,
AVG(BillAmount) AS Average_Sale,
MIN(BillAmount) AS Min_Bill_Paid,
MAX(BillAmount) AS Max_Bill_Paid
FROM Orders;
END
"""

# Execute the query
cursor.execute(sale_report_proc_query)

# Call the stored procedure with its name
cursor.callproc("BasicSalesReport")

# Retrieve records in "dataset"
results = next(cursor.stored_results())
results = results.fetchall()

# Retrieve column names using list comprehension in a for loop 
for column_id in cursor.stored_results():
    cols = [column[0] for column in column_id.description]

print("Today's sales report:")
for result in results:
    print("\t",cols[0],"":"",result[0])
    print("\t",cols[1],"":"",result[1])
    print("\t",cols[2],"":"",result[2])
    print("\t",cols[3],"":"",result[3])